.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
  flex-wrap: wrap;
}

.pagination__info {
  color: white;
  font-size: 14px;
}

.pagination select {
  background: #1d2945;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
}

.pagination__buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination button {
  background: #1d2945;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover {
  background: #2c3d63;
}

.pagination .active {
  background: #ffc107;
  color: black;
}
