.stats {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 15px;
  margin: 25px 0;
}

.stats__card {
  background: rgba(17, 24, 47, 0.9);
  padding: 10px;
  border-radius: 18px;
  color: white;
  min-height: 75px;
}

.stats__card--yellow {
  background: rgba(255, 193, 7, 0.9);
  color: black;
}

.stats__card h2 {
  font-weight: bold;
}

.stats__card h3 {
  font-weight: bold;
}

.stats__card p {
  font-weight: 600;
}

.bar {
  height: 3px;
  background: #37435f;
  border-radius: 15px;
  margin: 6px 0;
}

.bar__fill {
  height: 200%;
  background: #ffc107;
  border-radius: 15px;
}