.theme-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.theme-toggle button {
  background: #ffc107;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.theme-toggle button:hover {
  transform: scale(1.03);
}